/*
 * CSS3 Treeview enabler for IE8
 * @namespace window.AcidJs
 * @class CSS3Treeview
 * @version 3.0
 * @author Martin Ivanov
 * @url developer website: http://wemakesites.net/
 * @url developer twitter: https://twitter.com/#!/wemakesitesnet
 * @url developer blog http://acidmartin.wordpress.com/
 **/

/*
 * Do you like this solution? Please, donate:
 * https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=QFUHPWJB2JDBS
 **/

.acidjs-css3-treeview,
.acidjs-css3-treeview *
{
    padding: 0;
    margin: 3px;
    list-style: none;
}

.acidjs-css3-treeview label[for]::before,
.acidjs-css3-treeview label span::before
{   
    font-family:'FontAwesome' ;
    content: "\f054";
    display: inline-block;
    margin: 2px 0 0;
    width: 18px;
    height: 18px;
    vertical-align: top;
    text-align: center;
    color: #54616a;
    font-size: 8px;
    padding-top:3px;
}
.acidjs-css3-treeview li:empty{font-size:40px;}
.acidjs-css3-treeview li ul
{
    margin: 0 0 0 22px;
}

.acidjs-css3-treeview *
{
    vertical-align: middle;
}


.acidjs-css3-treeview li
{
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.acidjs-css3-treeview input[type="checkbox"]
{
    display: none;
}

.acidjs-css3-treeview label
{
    cursor: pointer;
    font-size:14px;
}

.acidjs-css3-treeview label[for]::before
{
    -webkit-transform: translatex(-30px);
    -moz-transform: translatex(-30px);
    -ms-transform: translatex(-30px);
    -o-transform: translatex(-30px);
    transform: translatex(-30px);
}

.acidjs-css3-treeview label span::before
{
    -webkit-transform: translatex(15px);
    -moz-transform: translatex(15px);
    -ms-transform: translatex(15px);
    -o-transform: translatex(15px);
    transform: translatex(15px);
}

.acidjs-css3-treeview input[type="checkbox"][id]:checked ~ label[for]::before
{
    content: "\f078 ";
}
.acidjs-css3-treeview li.child-node input[type="checkbox"][id]:checked ~ label[for]::before
{
    content: "\f054"!important;
}
.acidjs-css3-treeview input[type="checkbox"][id]:not(:checked) ~ ul
{
    display: none;
}

.acidjs-css3-treeview label:not([for])
{
    margin: 0;
}

.acidjs-css3-treeview label span::before
{
    font-family:'FontAwesome';
    content: "";
    color: #1375b3;
    opacity: .50;
    font-size:10px;
    border-radius:2px;
    border: 1px solid #ccc;
    padding:1px;
}

.acidjs-css3-treeview label input:checked + span::before
{
    content: "\f00c";
    opacity: 1;
    background:#11b691;
    color:white;
    border: 1px solid #11b691;
}
.node-hide {
   display:none;
}
.acidjs-css3-treeview ul li i{font-size:20px;cursor:pointer;margin-right:10px;}
.acidjs-css3-treeview ul li.selected-node > label{color: $yellow;}
.location-group  label span::before{display:none!important;}
.location-group label[for]::before
{
    -webkit-transform: translatex(-10px);
    -moz-transform: translatex(-10px);
    -ms-transform: translatex(-10px);
    -o-transform: translatex(-10px);
    transform: translatex(-10px);
}